{#  based on node.html.twig #}
{# poster format #}
{% if content.field_poster_image|render %}
<article class="slide slide-poster">
  <main>
    {{ content.field_poster_image }}
  </main>
</article>
{% endif %}
{# basic with image format #}
{% if content.field_image|render %}
<article class="slide slide-aside">
  <main>
    <h1>{{ label }}</h1>
    {{ content.body }}
  </main>
  <aside>
    {{ content.field_image }}
  </aside>
</article>
{% endif %}
{# basic with no image format #}
{% if not (content.field_poster_image|render or content.field_image|render or content.field_event_block|render ) %}
<article class="slide">
  <main>
    <h1>{{ label }}</h1>
    <p>{{ content.body }}</p>
  </main>
</article>
{% endif %}
{% if content.field_event_block|render %}
<article class="slide slide-aside">
    {{ content.field_event_block }}
</article>
{% endif %}
