{# 
    - campfire_center - special paragraph for the center news cluster for campfire layouts
    - campfire_articles_1 and campfire_articles_2 are reference fields and the items are displayed with standard article-card components
 #}

<div class="slice campfire">
    {% if pl %}
        <div class="campfire__feature">
            {% for card in cards.articles|slice(4, 1) %}
                {% include "@molecules/content/card/01-card.twig" with {
                    "card_blockname" : card.blockname,
                    "card_modifiers" : card.card_modifiers,
                    "card_img_src" : card.card_img_src,
                    "card_title" : card.card_title,
                    "card_label" : card.card_label,
                    "card_dateline" : card.card_dateline,
                    "card_byline" : card.card_byline,
                    "card_body" : card.card_body,
                    "card_link_url" : card.card_link_url,
                    "card_image_output_image_tag" : card.card_image_output_image_tag
                } %}
            {% endfor %}
            <div class="campfire__support">
                <h2>Redefining the liberal arts for the 21st century</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, inventore! Harum ab dolor dolorem error maxime odio veniam, quidem repudiandae, quisquam est non amet accusantium. Laborum molestias ad impedit iste.</p>
                <ul>
                    <li><a href="">Professor x</a></li>
                    <li><a href="">Student y</a></li>
                </ul>
            </div>
            
        </div>
        
        {% else %}
<div class="campfire__feature">
    {{campfire_center}}
    <div class="campfire__support">
        {{campfire_center_ftb}}
        <ul>
            {{campfire_other_news}}
        </ul>
    </div>

</div>{% endif %}
    {# {{campfire_center}}
    {{campfire_center_ftb}}
    {{campfire_other_news}} #}




    <div class="campfire__articles">
        {% if pl %}
            {% for card in cards.articles|slice(0,2) %}
            {% include "@molecules/content/card/01-card.twig" with {
            "card_blockname" : card.blockname,
            "card_modifiers" : card.card_modifiers,
            "card_img_src" : card.card_img_src,
            "card_title" : card.card_title,
            "card_label" : card.card_label,
            "card_dateline" : card.card_dateline,
            "card_byline" : card.card_byline,
            "card_body" : card.card_body,
            "card_link_url" : card.card_link_url,
            "card_image_output_image_tag" : card.card_image_output_image_tag,

            grid_modifiers: grid_modifiers
        } %}{% endfor %}
        {% else %}
        {{campfire_articles_1}}
        {% endif %}
    </div>
    <div class="campfire__articles_2">
    {% if pl %}
        {% for card in cards.articles|slice(2,2) %}
            {% include "@molecules/content/card/01-card.twig" with {
                "card_blockname" : card.blockname,
                "card_modifiers" : card.card_modifiers,
                "card_img_src" : card.card_img_src,
                "card_title" : card.card_title,
                "card_label" : card.card_label,
                "card_dateline" : card.card_dateline,
                "card_byline" : card.card_byline,
                "card_body" : card.card_body,
                "card_link_url" : card.card_link_url,
                "card_image_output_image_tag" : card.card_image_output_image_tag,

                grid_modifiers: grid_modifiers
            } %}{% endfor %}
        {% else %}
        {{campfire_articles_2}}
    {% endif %}
    </div>
</div>