{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
  ]
%}
<!DOCTYPE html>

<html>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
        <style>
  @import url("https://use.typekit.net/fde2wmo.css");
</style>
    <js-placeholder token="{{ placeholder_token|raw }}">
 <script>
function updateclock() {

var d = new Date();
var hour = d.getHours();
var minute = d.getMinutes();
var fulltime = "";
var t = setTimeout(updateclock, 500);

// create a 24 elements(0-23) array containing following values
const arrayHrs = [12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11];

    // since getMinutes() returns 0 to 9 for upto 9 minutes, not 00 to 09, we can do this
    if(minute < 10) {
        minute = "0" + minute;
    }

    if( hour < 12) {
        // Just for an example, if hour = 11 and minute = 29
        fulltime = arrayHrs[hour] + ":" + minute + " AM"; // fulltime = 11:29 AM
    }
    else {
        // similarly, if hour = 22 and minute = 8
        fulltime = arrayHrs[hour] + ":" + minute + " PM"; // fulltime = 10:08 PM
    }
    document.getElementById("time").innerHTML = fulltime;
}
</script>
  </head>
  {{source(directory ~ '/svg-defs.svg')}}
  <body onload="updateclock()">
    {{ page_top }}
    {{ header }}
    {{ help }}
    {{ page }}
    {{ footer }}
    <script src="themes/screens/js/build/refreshview.js"></script>
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
