{{ title_prefix }}
{% if label %}
    <h2{{title_attributes.addClass('h2')}}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}
{% block content %}
<div class="eventList">
{{ content }}
</div>
    
{% endblock %}
{# 
<div class='eventList__event event'>
    <span class='event__title'>Kenneth A.R. Kennedy Lecture in Human Evolution: "Tibetan adaptations to high altitude"</span>
    <span class='event__date'>Apr 09 4:00 pm to 5:00 pm</span>
    <span class='event__location'>Biotechnology Building: G10</span>

    <span>
        <img alt='Kenneth A.R. Kennedy Lecture in Human Evolution: "Tibetan adaptations to high altitude"' src='http://images-cf.localist.com/photos/832486/huge/3f06ad9885bda23bcf9752434ee3070d3b857fd2.jpg' />
    </span>
</div>

<div class='eventList__event event'>
    <span class='event__title'>CU Music Open House for Undergraduates</span>
    <span class='event__date'>Apr 11 12:00 pm to 2:00 pm</span>
    <span class='event__location'>Lincoln Hall: Room B20</span>

    <span>
        <img alt='CU Music Open House for Undergraduates' src='http://images-cf.localist.com/photos/555891/huge/de65f9a41c4d618cdb21101a209ee17b9ad4f2ac.jpg' />
    </span>
</div>

<div class='eventList__event event'>
    <span class='event__title'>Stamped from the Beginning : The Krieger Lecture in American Political Culture</span>
    <span class='event__date'>Apr 15 4:45 pm</span>
    <span class='event__location'>
        Rhodes-Rawlings Auditorium, Klarman Hall :
    </span>

    <span>
        <img alt='Stamped from the Beginning : The Krieger Lecture in American Political Culture' src='http://images-cf.localist.com/photos/751081/huge/3e1be0a2a5604fdc7d95bee097553f4584fb6ca0.jpg' />
    </span>
</div> #}